/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos da navegação */
nav {
    background-color: rgba(0, 43, 136, 0.808);
    padding: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos do cabeçalho */
header {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 0;
}

.header-bg {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

/* Estilos da seção de conteúdo */
section {
    padding: 50px 0;
    background-color: #f4f4f4;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.column {
    flex: 1;
    padding: 0 20px;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
